*{margin: 0;
padding: 0;
font-family: sans-serif;}
.wrapper{
    background-color: rgb(14, 8, 8);
        height: 80vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
}
section{
    background-color: rgb(248, 246, 115);
    height: 450px;
    width: 25%;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}
section img{
    width: 300px;
    position: absolute;
    top: 15px;
}
.text{
/* background-color: red; */
width: 300px;
height: 90px;
text-align: center;
display: flex;
flex-direction: column;
position: absolute;
bottom: 40px;
/* line-height: 30px; */
}